include includes/head

div#container
	p The page lists all available products in collection <i>#{title}</i>.

	p	!{collection.description}

	div#products
		!= partial('_product', products);

include includes/foot

