p	Private application for <a href="https://brita.testbackend.appspot.com/admin">brita namespace</a> which allows to browse the product catalog. Please use the navigation menu above.

p	Implemented using the following technologies:
	ul
		li	commercetools.box REST API
		li
			a(href="http://nodejs.org") node.js
		li
			a(href="http://expressjs.com")	express
		li
			a(href="https://github.com/visionmedia/jade")	jade
		
p	Hosted on <a href="http://nodester.com">nodester</a>, an Node.JS™ Open Source Hosting Platform-as-a-Service.