!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/cloud-zoom.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
		script(src='/javascripts/helpers.js')
		script(src='/javascripts/cloud-zoom.1.0.2.js')
	body
		div#container
			include includes/head
			!= body
			include includes/foot