script
	$().ready(function() {
		addClickHandler();
	});

div#collection.column
	p #{productsCount} products available
	
	!= partial('_pagination');

	ol.product-list.group
		!= partial('_product', products);
		
	!= partial('_pagination');