body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul#navigation {
  margin: 0; padding: 0.8em;
  text-align: center;
}

ul#navigation li {
  	list-style: none;
  	display: inline;
	margin: 0.4em;
	padding: 0;
}

div#products div.product {
	float: left;
}